<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{blog.title}}</title>
</head>
<body>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<h1>{{ blog.title }}</h1>
<div style="margin: 10px;font-size: inherit;line-height: 16px;">
    {{blog.content}}
</div>
<h2>评论</h2>
<ul>
{% for comment in blog.comment_set.all %}
    {% if comment.valid == 's' %}
    <li>{{ comment.comment_text }}</li>
    {% endif %}
{% endfor %}
</ul>

<div style="margin: 10px;">
    <form action="{% url 'blog:comment' blog.id %}" method="post">
    {% csrf_token %}
    {{ comment_form }}
    <input type="submit" value="提交" />
    </form>
</div>
</body>
</html>